includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 5
	paths:
		- src
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
	scanFiles:
		- tests/stubs/wp-cli.php
	treatPhpDocTypesAsCertain: false
